<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>

<div class="container">
        <hr>
        <h2>Usuários</h2>
        <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
        <hr>
        <table class="table table-bordered table-hover table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                        
                        <th class="d-flex justify-content-center">
                 
                            <form method="POST" action="/user/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= user.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                            </form>              
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
</div>
<%- include ../../partials/footer.ejs %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar este usuário?");
        if(decision){
            form.submit();
        }
    }
</script>
